@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&family=Poppins:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e4dada;
    color: #303030;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 100px;
    font-size: 18px;
    color: #484848;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;

}

.nav > div {
    display: flex;

}
.nav-side > span, a {
    padding: 10px;
    width: 100%;
    margin: auto 20px;
    border: 7px solid #fff ;
    font-weight:500;
    color: #484848;


}
.nav-side a{
    text-decoration: none;
    text-transform: uppercase;
}

.nav-side a:hover {
    color: rgb(41, 38, 38);
    border-bottom: 7px solid rgb(124, 223, 198);
}

.strong {
    font-size:25px;
    font-weight:bold;
    margin-right: 70px !important;
}
/* ========display items section ============= */
.container {
    padding: 10px 100px;
    display: flex;
    flex-wrap: wrap;
    
}
.card {
    margin: 25px 15px;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-shadow: 5px 5px 5px 5px #aaaaaa;
    overflow: hidden;
}
.card:hover {
    padding: 2px;
    box-shadow: 10px 10px 10px 10px #9e9898;
}
.card-img {
    width: 100%;
    height: 70%;
    padding-bottom: 5px;
}
.card-img > img {
    width: 100%;
    height: 100%;
}
.card-footer {
    display: flex;
}
.card-footer-txt {
    display: flex;
    flex-direction: column;
}
.card-footer-txt > .card-item-title{
    font-weight: bold;
}
.card-footer-txt > .card-price{
    font-size: larger;
}
.card-description{
    font-size: smaller;
}
.card-footer-heart {
    display: flex;
    justify-items:end;
    align-items:flex-start ;
    margin: 0 0 0 auto;
    padding: 5px;
}
.card-footer-heart > i {
    color: rgb(204, 19, 19);
    font-size: 24px;
    cursor: pointer;

}
.card-footer-heart > i:hover {
    color: rgb(243, 23, 23);
    font-size: 26px;
}







/* =======Modal Sign in ========= */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-left: 20vw;
    padding-right: 20vw;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    padding: 60px 40px 25px 40px;
    border: 1px solid #888;
    width: 80%;
}
.modal-content a {
    color: blue;
    border: none;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Modal content */

.modal  h1 {
    flex-grow: 1;
    margin-bottom: 40px;
}
.modal span, input {
    margin-bottom: 40px;
}
.modal input {
    font-size: 18px;
    padding: 3px;
    box-shadow: none;
    height: 50px;
    max-width: 80%;
    border: none;
    border-bottom: 1px solid rgb(130, 130, 130);
}
.modal input:focus{
    outline: 0;
    border-color: rgb(0, 0, 0);
}
.modal-content > p{
    margin-top: 20px;
    margin-bottom: 0;
}
.login {
    padding-left: 30vw;
    padding-right: 30vw;
}
.login input {
    width: 320px;
}
.register input {
    width: 80%;
}
.modal #msg-signup, #msg-signin{
    color: red;
    font-weight: bold;
}
.modal-submit-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 15px;
    background-color: rgb(74, 74, 236);
    border: none;
    border-radius: 5px;
    color: #fefefe;
    width: 30%;
}
.modal-submit-btn:hover{
    background-color: rgb(40, 40, 207);
}
/* The Close Button */
.register-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.register-close:hover,
.register-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#msg-modal .modal-submit-btn{
    margin-top: 35px;
}