* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(90, 81, 81);
  background-color: rgb(222, 222, 245);
}

.header {
  padding: 5px;
  margin-bottom: 10px;
  align-items: center;
}

.header >h1, h3, h4 {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.muted {
  font-weight: 300;
}

.header > h1 {
  font-size: 100px;
  color: rgb(90, 81, 81);
}

.header > h4 {
  margin: 15px;
}
.header h4 > span {
  padding: 5px;
  border-bottom: 1px solid ;
}


/* ======== Nav Bar ==========  */

.topnav {
  overflow: hidden;
  background-color: rgb(90, 81, 81);
}

.topnav a {
  float: left;
  color: #cfd6d6;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: rgb(90, 81, 81);

}

.topnav a:hover {
background-color: rgb(133, 131, 131);
color: rgb(250, 239, 239);
}

.form {
  margin: 15px;
}


/* Add Categories and items */
.add-category {
  /* display: none; */
}
.add-item {
  display: none;
}

.form  h1, label, input {
  /* margin-top: 10px; */
  margin-bottom: 3px;
}
.form .save-form-btn {
  display: block;
  width: 120px;
  text-decoration: none;
  font-size: 18px;
  background-color: rgb(72, 84, 177);
  margin-top: 20px;
  color:#fefefe;
  padding: 10px 40px;
  border-radius: 3%;
}
.form .save-form-btn:hover {
  background-color: rgb(97, 105, 170);
  color:white;
}

.form input {
  box-shadow: none;
  height: 40px;
  width: 620px;
  border: none;
  border-bottom: 2px solid rgb(180, 180, 180);
  transition: all 0.2s ease-in-out;
}

.form input:focus {
  outline: 0;
  opacity: 0.6;
  border-bottom: 2px solid rgb(0, 0, 0);
}


/* ======== Select options ======= */

/*the container must be positioned relative:*/
.custom-select {
  width: 620px;
  margin-top: 15px;
  height: 30px;
}

.custom-select > select {
  width: 100%;
  height: 100%;
  font-size: 15px;
}

/* ====== Modal login admin ====== */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-left: 35vw;
  padding-right: 35vw;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  padding: 60px 40px 25px 40px;
  border: 1px solid #888;
  width: 100%;
}
.modal-content a {
  color: blue;
  border: none;
}

/* The Close Button */
.close {
  background-color: white;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* Modal content */

.modal  h1 {
  flex-grow: 1;
  margin-bottom: 40px;
  background-color: white;
}
.modal label {
  background-color: white;
}
.modal span, input {
  margin-bottom: 40px;  
}
.modal input {
  background-color: white;
  padding: 3px;
  box-shadow: none;
  height: 50px;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(130, 130, 130);
}

.login input:focus {
  outline: 0;
  opacity: 0.6;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.modal-submit-btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  padding: 15px;
  background-color: rgb(74, 74, 236);
  border: none;
  border-radius: 5px;
  color: #fefefe;
  width: 150px;
}
.modal-submit-btn:hover{
  background-color: rgb(40, 40, 207);
}
/* ====== End Modal login admin ====== */