* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(90, 81, 81);
  background-color: rgb(222, 222, 245);

}

.header {
  padding: 5px;
  margin-bottom: 10px;
  align-items: center;
}

.header >h1, h3, h4 {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.muted {
  font-weight: 300;
}

.header > h1 {
  font-size: 100px;
  color: rgb(90, 81, 81);
}

.header > h4 {
  margin: 15px;
}
.header h4 > span {
  padding: 5px;
  border-bottom: 1px solid ;
}


/* ======== Nav Bar ==========  */

.topnav {
  overflow: hidden;
  background-color: rgb(90, 81, 81);
}

.topnav a {
float: left;
color: #cfd6d6;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
background-color: rgb(90, 81, 81);

}

.topnav a:hover {
background-color: rgb(133, 131, 131);
color: rgb(250, 239, 239);
}

.form {
  margin: 25px;
}


/* Add Category */
.add-category {
  display: none;
}

.form  h1, label, input {
  /* margin-top: 10px; */
  margin-bottom: 10px;
}


.form input {
  box-shadow: none;
  height: 40px;
  width: 620px;
  border: none;
  border-bottom: 1px solid rgb(130, 130, 130);
}

.form > input:focus {
  /* box-shadow: none;
  -webkit-box-shadow: none;
  border: none; */
  /*border-bottom: 1px solid rgb(130, 130, 130); */
}


/* ======== Select options ======= */

/*the container must be positioned relative:*/
.custom-select {
  width: 620px;
  margin-top: 15px;
  height: 30px;
}

.custom-select > select {
  width: 100%;
  height: 100%;
  font-size: 15px;
}
